@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #000000; */
  position: relative;
  min-height: 1300px;
  background: #000
    url(https://sgimage.netmarble.com/mobile/game/sololv/brand/v1/img/f2f78031c45a.jpg)
    no-repeat top;
}
